logs/
.venv/
.env
__pycache__/
*.pyc
airflow.cfg
# Terraform local working directories
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json