logs/
.venv/
.env
__pycache__/
*.pyc
airflow.cfg
# Terraform local working directories
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Terraform state
terraform/*.tfstate
terraform/*.tfstate.backup

# Terraform working directory
terraform/.terraform/

# Crash logs
crash.log